doctype html
html
  head
    meta(name="viewport",content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")
    title= title
    //link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/static/bootstrap/css/bootstrap.min.css")
    script(src="/js/ajax.js")

  body
    block content





footer
  script(src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous")
  script(src="/static/bootstrap/js/bootstrap.min.js")
